google-genai
streamlit
dotenv
fastapi
uvicorn[standard]
streamlit
google-generativeai
python-dotenv
requests
Pillow
boto3
botocore
pandas
pytesseract
typing-extensions
python-multipart
pydantic
matplotlib
plotly